* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.contenido_grid{
    margin-top: 100px;
    display: grid;
    grid-template:"contenido imagen" 1fr/ 40% 60%;
    min-height: 676px;
    height: 87vh;
    margin-bottom:30px;
}

.seccion{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.free_fire{
    width: 400px;
    height: 125px;
    object-fit: cover;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    gap: 5px;
}

.seccion .titulo{
    font-weight: 700;
    
}




.input_field label {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
    margin-left: 5px;
}

.input_field .icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon input{
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.icon i {
    margin-left: 7px;
}

.icon {
    border: solid 3px black;
    border-radius: 5px;
}




.imagen {
    background: url('../assets/img/imagelog.png') no-repeat center center/cover;
}
.forgot_password{
    padding-top: 15px;
    text-align: center;
}

.btn-field {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    
}

.btn-field button {
    
    padding: 5px 50px;
    height: 50px;
    background: #f96800;
    border-radius: 10px;
    font-weight: 700;
    border: 3px solid antiquewhite;
}

.btn-field button:hover {
    scale: 1.04;
    background-color: #ff9142;
    border:  3px solid rgb(255, 255, 255);
    filter: blur(0.5px);
}

.buton_registro{
    margin-bottom: 40px;
    font-size: 14px;
    border: 0;
    background-color: rgba(91, 48, 48, 0.23);
    border-radius: 19px;
    height: 42px;
    width: 212px;
    color: white;
    font-weight: 700;
    align-self: center;
    overflow-y: hidden;
}



@media (min-height:785px){
    *{
        overflow-y: hidden;
    }
   
    .seccion{
        margin-top: 5%;
    }

}





